<a href="https://colab.research.google.com/github/svetajamkina/PYTHON/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data import

In [ ]:
import seaborn as sns
import pandas as pd

titanic_data = sns.load_dataset('titanic')
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

#Data Investigation

In [ ]:
titanic_data.isnull().sum() #checking the 0 values

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
embark_town    0
dtype: int64

In [ ]:
titanic_data.dtypes

survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
embark_town     object
dtype: object

In [ ]:
#titanic_data.drop('deck', axis=1, inplace=True) # a lot empty values
titanic_data.drop(['alive', 'alone', 'adult_male'], axis=1, inplace=True) #a lot of empty values

KeyError: "['alive', 'alone', 'adult_male'] not found in axis"

#Data transformation

In [ ]:
titanic_data['class'] = titanic_data['class'].astype(str) #modified the object from category to str
titanic_data.fillna(0, inplace=True) #replaces empty with null

In [ ]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,embark_town
0,0,3,male,22.0,1,0,7.2500,S,Third,man,Southampton
1,1,1,female,38.0,1,0,71.2833,C,First,woman,Cherbourg
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,Southampton
3,1,1,female,35.0,1,0,53.1000,S,First,woman,Southampton
4,0,3,male,35.0,0,0,8.0500,S,Third,man,Southampton

In [ ]:
# Sex column
sex_mapping = {'male': 0, 'female': 1}
titanic_data['sex'] = titanic_data['sex'].map(sex_mapping)

In [ ]:
# Embark town
titanic_data['embark_town'].unique()
embark_town_mapping = {'Southampton': 1, 'Cherbourg': 2, 'Queenstown': 3, 0:0 }
titanic_data['embark_town']= titanic_data['embark_town'].map(embark_town_mapping)

In [ ]:
# Embarked
titanic_data['embarked'].unique()
embarked_mapping = {'S':1, 'C':2, 'Q':3, 0:0}
titanic_data['embarked'] = titanic_data['embarked'].map(embarked_mapping)

In [ ]:
# Who
titanic_data['who'].unique()
who_mapping = {'man':1, 'woman':2, 'child':3}
titanic_data['who'] = titanic_data['who'].map(who_mapping)

In [ ]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,embark_town
0,0,3,0,22.0,1,0,7.2500,1,Third,1,1
1,1,1,1,38.0,1,0,71.2833,2,First,2,2
2,1,3,1,26.0,0,0,7.9250,1,Third,2,1
3,1,1,1,35.0,1,0,53.1000,1,First,2,1
4,0,3,0,35.0,0,0,8.0500,1,Third,1,1

In [ ]:
titanic_data.info() #checj, what type we have , and no 0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    int64
 8   class        891 non-null    object
 9   who          891 non-null    int64
 10  embark_town  891 non-null    int64
dtypes: float64(2), int64(8), object(1)
memory usage: 76.7+ KB

#LabelEncoder

#Data modeling

In [ ]:
from sklearn.model_selection import train_test_split

X = titanic_data.drop('survived', axis=1) #FEATURES
y = titanic_data['survived'] #DEPENDENT VARIABLE

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

#LogicalRegression

In [ ]:
from sklearn.linear_model import LogisticRegression #import

In [ ]:
model = LogisticRegression() #initialize

In [ ]:
model.fit(X_train, y_train) #train

ValueError: could not convert string to float: 'First'

In [ ]:
prediction_results = model.predict(X_test)
prediction_results

ValueError: could not convert string to float: 'Third'